*{
    box-sizing: border-box;
    padding: 0;
    margin:0;
    
}
:root {

    --border-radius: 18px;
    --font--main:"Noto Serif", serif;
    --font-title:"Inter", sans-serif;
    --primary:rgba(233, 90, 8, 1);
    --seconday:#000;
    --text-dark:rgba(37, 36, 50, 1);
    --text-light:rgba(137, 135, 161, 1);
    --text-p:rgba(0, 0, 0, 0.50);
    --background-color:rgb(245, 248, 255);
    --btn-color:rgba(255, 255, 255, 1);

}

/* google font: Noto serif & inter */

.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
}


.inter-font {
  font-family: "Inter", sans-serif;
  font-style: normal;
}

/* shared style */
body {background: rgb(245, 248, 255);}
.container {
    max-width:1140px;
    margin: auto;
    width: 100%;
}

/* Header- Nav styling */

.header {

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1.875rem ;
  }
.logo {
    width: 8.437rem;
    height: 5.125rem;
    width: 100%;
}
.nav-links {
    display: flex;
    font-family: Inter;
    font-size: 1rem;
    gap: 3rem;
 
} 
.nav-item {
    list-style: none;
    
}
.nav-link {
    text-decoration: none;
    font-weight: 700;
    color: var(--text-dark);
    
    
}
.custom-link{
    font-weight: 400;
    color: var(--text-light);

}
h2 span {
    color: var(--primary);
}

/* banner part */
.banner {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-top:12rem ;
    
}
.banner h2 {
    font-size: 4.06rem;
    font-family: var(--font--main);
    margin-bottom: 
}
.banner p {
    font-family: var(--font-title);
    color: var(--text-p);
    font-size: 1.375rem;
    font-weight: 400;   
}

.banner-left{
    

}
.banner-right {
    display: block;
}

.plants-section {
    text-align: center;
    padding-top: 7.5rem;
    padding-bottom: 1rem;
    /* background: #f5f8ff; */
}

.plants-heading {
    font-family: var(--font--main);
    font-size: 3.125rem; /* 50px */
    font-weight: 700;
    margin-bottom: 0.7rem;
}

.span-our {
    color: var(--primary);
}

.plants {
    color: var(--seconday);
}

.plants-section p {
    width: 55.5rem;
    max-width: 95vw;
    margin: 0 auto;
    font-family: "Inter", sans-serif;
    font-size: 1.375rem;
    font-weight: 400;
    color: var(--text-p);
    margin-bottom: 0;
}

/* products section */

.products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.25rem;
    margin-top: 3.0625rem
}

.add-cart-btn {
    display: flex;
    height: 3.125rem;
    width: 100%;
    padding: 26px 50px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    color: var(--btn-color);
    background-color: var(--primary);
    border: none;
    font-family: var(--font-title);
    font-weight: 600;
    font-size: 1rem;
    text-transform: uppercase;
}

.product-name,
.product-price {
    text-align: center;
    font-family: Inter;
    font-size: 1.375rem;
    font-weight: 500;
    /* margin: 1.875rem 0; */
}
.product-name{
    margin-top: 1.9rem;
    margin-bottom: 1.25rem;
}
.product-price {
    margin-bottom: 1.9rem;
}

/* plants lover section styling */
.plants-lover {
    margin-top: 13.133rem;
}
.flower-img-con {
    position: relative;

}

.trusted-badge {
    width: 17.87rem;
    position: absolute;
    top: -9.375rem;
    left: 21.88rem;
    filter: drop-shadow(-4px 10px 4px rgba(0, 0, 0, 0.25));



}

.flower {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4.375rem;
    margin-top: 12.5rem;
}

.flower-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 540px;
    gap: 1.25rem;
    align-self: flex-start;
    gap:;

}

.flower-text ul li {
    font-size: 1.375rem;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
    margin-top: 20px;
}
.flower-description {
    color: rgba(0, 0, 0, 0.50);

font-family: var(--font-title);
font-size: 1.375rem;
font-weight: 400;


}
.head-title {
    font-family: var(--font--main);
    font-size: 3.125rem;
    font-weight: 700;
    margin-top: 1.87rem;
}
.flower-store {
   max-width: 540px;
height: 37.31rem;
width: 100%;

}
.flower-list {
    padding: 01.75rem;
}
.headline {
    display: flex;
    justify-content: center;
    margin-top: 8.355rem;
    
}

 .deals{
    text-align: center;
}
.deals h1{
    margin-bottom: 16px;
}
.deals h1 span{
    color:rgb(233, 90, 8);
}
.heading {
    font-size: 3.125rem;
    font-weight: bold;
    margin-top: 8.355rem;

}
.paragraph {
    font-size: 1.375rem;
    font-weight: 400;
    color: var(--text-p);
    font-weight: 700;
}
